# Application Config
APP_ENV=production
APP_DEBUG=false
APP_URL=https://ezycommerce.munshinavid.me

# Database Config (MySQL)
DB_HOST=db
DB_PORT=3306
DB_NAME=ecomm
DB_USER=ezy_user
DB_PASS=ezy_pass
DB_ROOT_PASSWORD=root_password
